<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bookrepo" class="com.spring.LibraryManagement.repository.BookRepository"/>
	<bean id="bookService" class="com.spring.LibraryManagement.service.BookService">
	<constructor-arg ref="bookrepo"/>
	</bean>
    

</beans>
